
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
   margin:0;
   padding:0;
   border:0;
   outline:focus;
   font-size:100%;
   vertical-align:baseline;
   background:transparent;
}

body {
   line-height:1;
   font-family: Arial, sans-serif, 'Roberto';
   margin: 0;
   overflow-x: hidden;
}
/*
body {
  margin: 0;
  font-family: 'Roboto';
  display: flex; // To center the carousel vertically in the            viewport
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

// Carousel configuration parameters
//$n: 8; // Number of images
//$item-width: 400px; // Width of an image. In the Js version this value can be a percentage
//$item-separation: 80px; // The space between the images. This will decrease the effective item width
//$viewer-distance: 500px;

// Derived variables
//$theta: 2 * 3.141592653589793 / 8;
//$apothem: 482.842712474619px; // == $item-width / (2 * tan(PI / $n))
*/
.carousel {
  padding: 20px;
  perspective: 500px;
  overflow: hidden;
  transition: transform 0.5s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:500px;
}
.carousel > * {
  flex: 0 0 auto;
}
.carousel figure {
  margin: 0;
  width: 400px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform-origin: 50% 50% -482.8427124746px;
}
.carousel figure img {
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px;
  opacity: 0.9;
}
.carousel figure img:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 50% 50% -482.8427124746px;
}
.images{
  height:200px;
  width:200px;

}
.carousel figure img:nth-child(2) {
  transform: rotateY(0.7853981634rad);
}
.carousel figure img:nth-child(3) {
  transform: rotateY(1.5707963268rad);
}
.carousel figure img:nth-child(4) {
  transform: rotateY(2.3561944902rad);
}
.carousel figure img:nth-child(5) {
  transform: rotateY(3.1415926536rad);
}
.carousel figure img:nth-child(6) {
  transform: rotateY(3.926990817rad);
}
.carousel figure img:nth-child(7) {
  transform: rotateY(4.7123889804rad);
}
.carousel figure img:nth-child(8) {
  transform: rotateY(5.4977871438rad);
}

#hero {
  margin: 0;
  padding: 0;
  position: relative;
  background: black;
  z-index: 1;
  width: 100vw;
  overflow: hidden;
}

#hero-text {
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;*/
    font-family: Apple Chancery, cursive, URW Chancery L, cursive;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  z-index: 20;
  color: black;
  transform: scale(1.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-text > div {
  padding: 50px;
  font-weight: 500;
  color: white;
  font-size: 3rem;
}
#text {
	display: inline-block;
	vertical-align: middle;
	color: white;
	letter-spacing: 2px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	color: white;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to {
		background-color: transparent
	}
	50% {
		background-color: black;
	}
}

.about, .contain, .about_me, .carousel {
  opacity: 0;
  transform: translateY(30vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.is-visible{
  opacity: 1;
  transform: none;
  visibility: visible;
}

article,aside,details,figcaption,
footer,header,hgroup,menu,nav,section {
   display:block;
}

.face-front > a{
  height:230px;
}

body, html {
 height: 100%;
 width:100%;
 margin:0;
 padding:0;

}
h1 {
 color: #FFFFFF;
 text-align: center;
 margin-top:-8px;
   padding:10px;
}
.nav {
 overflow:auto;
 background-color: #FF6600;
 height: 50px;
 font-size: 25px;
 margin-top:0;
 border-bottom:2px solid black;
 z-index:2;
 text-align:center;
}
nav a {
 color:black;
}
nav a:hover {
text-decoration:none;
color:white;
}
.about {
 background-color: white;
 height: 800px;
 width:100%;

}
.about_me {
  width:100%;
 overflow:hidden;
 height:300px;
 padding-top: 50px;
}

h4{
 height:75px;
}
#count{
height:25px;
width:100%;
text-align:center;
}
ul{
 display:block;
 position:fixed;
 left: 22px;
 top:70px;
 font-size: 20px;
 font-weight:bold;
}
.landing {
  margin-top:0;
  height:100%;
  background-image: url('sun.jpg');
  filter: blur(5px);
 margin-bottom:-30px;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   min-width:350px;

  }
.intro {
 padding:15px;
 vertical-align: middle;
 color:#FFFFFF;
 position:absolute;
 top:50%;
 left:50%;
 transform: translate(-50%, -50%); /* shift h1 to the left to center */
 /* background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
border: 3px solid #f1f1f1;
}

#hell {
 background-repeat:no-repeat;
 background-size: cover;


}
.portfolio {
 display:flex;
flex-wrap:wrap;
 background-color: white;
 height: 300px;
 width:100%;
/* transform: rotate(0deg) skew(0deg);*/

}

footer {
 height:150px;
 background-color:#ffe3b1;
}


.fa {

 font-size: 30px;
 width: 50px;
 text-align: center;
 text-decoration: none;
 /*margin: 5px 2px;*/
 border-radius:50%;
}
/*img {
 float: left;
 margin-left: 5px;
 margin-right: 8px;
 display:block;
 border-radius: 15px 50px;

}*/

.myself {
 width:170px;
 height:170px;
 float: left;
 margin-left: 5px;
 margin-right: 8px;
 display:block;
 border-radius: 15px 50px;
}

h2 {
text-align: center;
margin-bottom:30px;
margin-top: 30px;
flex-basis: 100%;
}

.project{
 width:90px;
 height:90px;
 margin:5px;
}

.skills{
 display:flex;
 flex-wrap:wrap;
 justify-content:center;
 overflow:hidden;
}

/*.divide {
 transform:rotate(05deg);
}*/
.project_1_img, .project_2_img {
  margin: 15px 5px 15px 5px;
   width:190px;
 height:190px;
 border-radius:5px;
 border:2px solid #FF6600;
}

.contact{
 display:flex;
 flex-wrap: wrap;
 justify-content:center;
}


 #map {
 height: 100%;
 width:100%;
}
.container {
 height:150px;
}

.footer-copyright{
 background-color:#ffe3b1;

}

.contain, .book-content{
 display: flex;
 justify-content: center;
 align-items: center;
}

.contain{
 width:100%;
 height:608px;
 background-color:white;

}
.book-content{
 width: 65%;
 min-width: 250px;
 max-width: 600px;
 height: 430px;
 position: relative;
 perspective: 1000px;
 transition: 1s;


}

.project_2_img {
 height:210px;
}

.face-back , .face-front{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;

}
.book{
 position:absolute;
 width: 55%;
 height: 100%;
 transition: 1s;
 transform-style: preserve-3d;
 transform-origin: left;
   box-shadow: 5px 5px 8px black;


}

.face-front, .face-back{
 width:100%;
 height:100%;
 background: #ffe3b1;
 padding: 15px;
 box-sizing: border-box;
 overflow: hidden;

}



.face-font{
 box-shadow: inset 3px 0px 20px -7px black;
 border-top-left-radius:3px;
 border-bottom-left-radius: 3px;
 top:0;
 left:0;

}
.face-back{
 position: absolute;
 top: 0;
 left: 0;
 transform: translateZ(-1px) rotateY(180deg);
 box-shadow: inset -3px 1px 20px -7px black;
  border-top-right-radius:3px;
 border-bottom-right-radius: 3px;

}

#portada{
 background: url("portfolio.jpg");
}

#portada-back{
 background: url("sun.jpg");
}

#portada,#portada-back{
background-size: 100% 100%;

}

/*classes javascript*/

.trnsf{
 transform: translateX(80px);
}

.trnsf-reset{
 transform: translateX(0px);
}



@media screen and (max-width:800px){

.about{
  height:825px;

}
 .project_1_img, .project_2_img {
  margin: 10px 3px 10px 3px;
   width:100px;
 height:100px;
 border-radius:5px;
 border:2px solid #FF6600;
}
.book-content{
 width: 55%;
 min-width: 200px;
 max-width: 600px;
 height: 360px;
 position: relative;
 perspective: 1000px;
 transition: 1s;

}
h4{
 height:70px;
}

ul{
 display:block;
 position:fixed;
 left: 25px;
 top:70px;
 font-size: 15px;
 font-weight:bold;
}

}

 @media screen and (min-width:901px) and (max-width:1445px){
p{
 font-size: 12px;
}

.book-content{
 min-width: 250px;
 max-width: 500px;
 position: relative;
 perspective: 1000px;
 transition: 1s;

}
.book{
 width:62%;
}

.contain{
 height:650px;
}
}

@media only screen and (min-width: 450px) and (max-width: 900px) {

.book-content{
 width: 50%;

 max-width: 600px;
 height: 360px;
 position: relative;
 perspective: 1000px;
 transition: 1s;
 margin-left:80px;
}
.book{
   width:72%;
}
 .contain{
 height:700px;
}
.about{
  height:825px;

}
h4{
 height:75px;

}
.about_me, .carousel{
  height:500px;
}

ul{
 display:block;
 position:fixed;
 left: 25px;
 top:70px;
 font-size: 15px;
 font-weight:bold;
}
.face-front > a{
  height:110px;
}
.images{
  height:200px;
  width:200px;

}
.carousel figure {
  margin: 0;
  width: 300px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform-origin: 50% 50% -482.8427124746px;
}
}
@media only screen and (max-width: 450px){
 .face-front > a{
  height:60px;
}
 .book{
   width:72%;
}
.book-content{
 width: 55%;
 margin-left:80px;
 }
.about_me, .carousel{
  height:500px;
}
.about{
  height:725px;

}
.contain{
 height:700px;
}
.about{
  height:825px;

}
.images{
  height:200px;
  width:200px;

}
.carousel figure {
  margin: 0;
  width: 300px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform-origin: 50% 50% -482.8427124746px;
}
}
